.list {
  list-style: none;
  font-size: 30px;
  font-weight: bolder;
  justify-content: space-between;
  display: flex;
}
.list :hover {
  text-decoration: none;
  color: black;
}
.images {
  display: flex;
  justify-content: center;
}
main  {
  padding-left: 0px;
  font-weight: bold;
}
#carousel {
  margin: 0px auto;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}
